*.png
*.json
*.txt
*.zip
*.cache
runs/
show/
pretrained
pretrained/
src/labelme/
runs
show
data
dataset
src/__pycache__/
show.tar.gz
note.md
v1_demo.yaml
yolov11-pose.yaml
best.pt
env.yaml
working.py
